.show-container {
  padding-top:100px;


}

.img {
  width : 50%;
  border-radius:10px;
}

.description-all {
  justify-content: space-between;
  opacity: 0.7;
  border: 0px solid black;
  text-align: center;
  border-radius: 10px;
  font-size:auto;
  background: red;
  line-height: 3.4em;
  color: white;
  width: auto;
  padding: 10px;
  flex-direction: row;
}




