// Specific CSS for your home-page
body {
  color: black;
  font-family: Nunito, sans-serif;
}

.banner-content-home {

  background-size: cover;
  background:white;
  text-align:center;

}

.b {
background:green;
border-radius:3px;
padding:2px;
}

.banner-content-home
 { background:rgba(0,20,30,0.9);
  margin:5%;
  padding:5px;
 }

 .banner-content-home div {

width:350px;
opacity:1;
margin :0 auto;

}

.banner-content-home h2 {
color:white;
opacity:0.8;
}

.banner-content-home p {

  font-size: 20px;
  color:black;
}





.blog-section {
  margin: 24px 0 24px 0;
}

.blog-section h3 {
  margin-bottom: 40px;
}

.btn :hover {
opacity:0.9;
}

.book-pic {
background-image: asset-url('book.png');
width:280px;
height:254px;
border-radius:10px;
margin:0 auto;
border: 1px solid white;
}

.card-1 {

background-image: asset-url('playboybike.jpg');
width:17.5rem;
height: 170px;
border-radius:10px;
margin:0 auto;
}
.card-2 {

background-image: asset-url('vacs2.jpg');
width:18rem;

border-radius:10px;
margin:0 auto;
}
.card-3 {

background-image: asset-url('bikebxl.jpg');
width:18rem;

border-radius:10px;
margin:0 auto;
}

.cards-how-it-works {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align:center;
  border:1px solid black;
  color:white;
  padding:15px;

}

.card-title {
  text-align:center;
}




h1, h2, h3, h4 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;

  text-align: center;
}

.r {
  background:rgba(250,0,0,0.7);
  border-radius:3px;
  padding:4px;
}

.home-container {


  margin-top:10%;
  width:80%;
  text-align:center;
  margin:0 auto;
  padding:20px;
  background:rgba(0,20,30,0.9);
  color:rgba(250,0,0,0.7);
  border-radius:10px;

}

.cards-search {
background-image: asset-url('key.jpg');
}

.container-blog {
 padding:10px;

}

.search-pic {
background-image: asset-url('gmaps.jpg');
width:280px;
height:254px;
border-radius:10px;
margin:0 auto;
border:1px solid white;
}

.inner-container {
  transform: translate(150px,-20px);
}
.title-home {
  color:red;
  margin-bottom:200px;
  font-size:40px;

}

.pages{
text-align:center;
margin-top:1rem;
}


.ride-pic {
background-image: asset-url('artyguidon.jpg');
width:280px;
height:254px;
border-radius:10px;
margin:0 auto;
border:1px solid white;

}
// DEVISE CSS

.container-devise {
  margin-top: 88px;
}

  // span {
    // background-color:red;
    // border-radius :20px;
    // padding: 10px;
    // color:white;
  // }

// a {
  // text-decoration :none;
  // opacity :0.7;
  // & :hover {
    // opacity: 1;
  // }
// }

