// Specific CSS for your home-page
body {
  color: black;
  font-family: Nunito, sans-serif;
  background:grey lighter;
}

.banner-content-home {

  background-size: cover;
  background:white;
  text-align:center;

}

.banner-content-home div img {

width:350px;
opacity:0.7;
margin :0 auto;
}

.banner-content-home h2 {
color:grey;
}

.banner-content-home p {
  opacity: 0.1;
  font-size: 20px;
  color:black;
}

.blog-section {
  margin: 24px 0 24px 0;
}

.blog-section h3 {
  margin-bottom: 40px;
}

.btn :hover {
opacity:0.9;
}
.cards-home {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px 0 40px 0;
  text-align:center;
}

.cards-inside {
  width: 600px;
  margin: auto;
}

h1, h2, h3, h4 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;

  text-align: center;
}
.container {

  padding:10px;
  margin-top:10%;
}
.container-blog {
 padding:10px;
  margin-top:10%;
}



.inner-container {
  transform: translate(150px,-20px);
}
.title-home {
  color:red;
  margin-bottom:200px;
  font-size:40px;

}

.pages{
text-align:center;
}
// DEVISE CSS

.container-devise {
  margin-top: 88px;
}

  // span {
    // background-color:red;
    // border-radius :20px;
    // padding: 10px;
    // color:white;
  // }

// a {
  // text-decoration :none;
  // opacity :0.7;
  // & :hover {
    // opacity: 1;
  // }
// }

