// Specific CSS for your home-page
body {

  font-family : Helvetica;

  background:grey lighter;
}
h1 {
  font-family :sans-serif;
  span {
    background-color:red;
    border-radius :20px;
    padding: 5px;
  }
}

a {
  text-decoration :none;
  opacity :0.7;
  & :hover {
    opacity: 1;
  }
}
