.mybikeslayout

{
  border:1px solid white;
}


.cardmybike {

width:17.5rem;
height: 300px;
border-radius:10px;
margin:0 auto;
}

.mybikesdisplayed
{

width:17.5rem;
height: 300px;
border-radius:10px;
margin:0 auto;
}

.cards1 {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    padding: 16px;
}

#wrappist {

  flex-wrap:wrap;
}
