<div class="container">
  <div class="form">
    <h1>Book a bike an start riding</h1>
    <p>Check our availabilities</p>
      <div class="container-new-form">
        <div class="form-inputs">
          <%= simple_form_for(@booking, :url => bike_bookings_path, :method => :post) do |f| %>
            <%= f.input :start_date %>
            <%= f.input :end_date %>
        </div>
              <div class="form-actions">
            <%= f.submit %>
              </div>
          <% end %>
    </div>
  </div>
</div>
