<div class="container">
  <div class="row justify-content-center">
    <div class="booking-input">
      <p><%= @booking.start_date%></p>
      <p><%= @booking.end_date %></p>
        <%= link_to 'New Booking', new_bike_booking_path(@bike) %>
        <%= link_to 'Back', bike_bookings_path(@bike) %>|
      </div>
    </div>
  </div>




