<div class="home-banner">
  <div class="inner-container">
    <h1><span>Mobility made easy.</span></h1>
    <div class="text-container">
      <p><span>Find quality bikes for rent in your city!</span></p>
    </div>
    <%= link_to "Discover Rentabike", root_path(anchor: "how-it-works"), class: "btn-home" %>
  </div>
</div>


<div class="container" id="how-it-works">
  <h2>How Rentabike works 🚲</h2>

  <div class="d-flex justify-content-around">
    <div class="card" style="width: 18rem;">
      <img src="https://picsum.photos/400/300" class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Search</h4>
        <p class="card-text">Our map and filters help you easily find the bike that best fits your needs and taste.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="https://picsum.photos/400/300" class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Book</h4>
        <p class="card-text">Eco-friendly, Renting bikes is getting more and more popular</p>
        <a href="#" class="btn btn-primary">Go book a bike</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="https://picsum.photos/400/300" class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Ride</h4>
        <p class="card-text">Eco-friendly, Renting bikes is getting more and more popular</p>
        <a href="#" class="btn btn-primary">Go book a bike</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h3>Read our latest blog articles 🚲 <small><i class="fas fa-chevron-down"></i></small></h3>
    <div class="d-flex justify-content-around">

      <div class="card" style="width: 18rem;">
        <img src="https://picsum.photos/400/300" class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Discover our rentings posts</h5>
          <p class="card-text">Eco-friendly, Renting bikes is getting more and more popular</p>
          <a href="#" class="btn btn-primary">Go book a bike</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://picsum.photos/400/300" class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Discover our rentings posts</h5>
          <p class="card-text">Eco-friendly, Renting bikes is getting more and more popular</p>
          <a href="#" class="btn btn-primary">Go book a bike</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://picsum.photos/400/300" class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Discover our rentings posts</h5>
          <p class="card-text">Eco-friendly, Renting bikes is getting more and more popular</p>
          <a href="#" class="btn btn-primary">Go book a bike</a>
        </div>
      </div>
    </div>
</div>
