

<div class="home-banner">
  <div class="title-home"><span></span></div>
  <div class="inner-container" >
    <p style="font-size:30px;"><span>Find quality bikes for rent in your city !</span></p><br/><br/><br/><br/><br/>

    <%= link_to "Discover Rentabike ", root_path(anchor: "how-it-works"), :class  => "btn btn-info", :style => "font-size: 34px; border-radius:150px; width: 220px; transition:0.5s;  background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263); color:rgba(250,250,250,0.7);"%>
  </div>
</div>





<div class="background">
  <div style="color:white">
    <h1>Think <span class= "b"> Eco-friendly</span>,
      <h2>Stay <span class= "b">Fit</span></h2>
      <br>
      <h3>Find the bike you wish</h3>
      <h4>for transport or <span class="r"> pleasure</span></h4>

    </div>


    <br><br><br>




    <div class="home-container">
      <h2>How Rentabike works 🚲</h2> <br/>
      <div class="cards-how-it-works">


        <div class ="containarticle">
          <div class="row">


            <div class="art1">

             <div class="card-search" style="width: 24rem;">
              <h4 class="card-title">Search <i class="fas fa-search"></i></h4>
              <p class="card-text">

                <strong>Hey! Our map and filters help you easily find the bike that best fits your needs and taste. <br/></strong>
                <br/></p>
                <div class ="search-pic"></div>

              </div>

            </div>

          <div class="art2">

              <div class="card-book" style="width: 24rem;">
                <h4 class="card-title">Book <i class="fas fa-shopping-basket"></i></h4>
                <p class="card-text"><strong>Contact one of our verified users and book their bike for a determined duration and price.<br/></strong>
                  <br><p>
                  <div class ="book-pic"></div>
              </div>
                </div>


          <div class="art3">
                <div class="card-ride" style="width: 24rem;">
                  <h4 class="card-title"><i class="fas fa-bicycle"></i> Ride <i class="fas fa-bicycle"></i></span> </h4>
                  <p class="card-text"> <strong>Congratulations ! You are finally ready for some nice bike time. Leave your comment!<br/></strong>
                    <br/></p>
                    <div class ="ride-pic"></div>



                  </div>
                </div>
              </div>
            </div>
    </div>
</div>

            <div class="banner-content-home">
              <br/>
              <h2> Get 20% off of your first booking!</h2>
              <br/>

              <%= link_to "Check our available bikes", bikes_path(anchor: "availablebikes"), :class  => "btn btn-info",
              :style => "z-index:10; font-size: 24px; border-radius:10px; max-width: 400px; transition:0.5s; background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
              background: linear-gradient(to right, #ee5a6f, #f29263);;
              color:white;"%>


            </div>





            <div class="container-blog" >
              <div class="blog-section">

                <h3 style="color:black;">Read our latest blog articles 🚲 <small><i class="fas fa-chevron-down"></i></small></h3>




                <div class="containarticle">
                  <div class="row">

                    <div class="art1">

                      <div class="articleimg1"></div>

                      <div class="card-body">

                        <h5 class="card-title" style="text-align: left; font-weight: bold;">How Lucas used Rentabike to save money</h5>
                        <p class="card-text">He saved money to buy the bike and the trip of his dream ...</p>
                        <a href="#" class="btn btn-primary">Read more</a>
                      </div>

                    </div>



                    <div class="art2">
                      <div class="articleimg2"></div>

                      <div class="card-body">

                        <h5 class="card-title" style="text-align: left; font-weight: bold;">Is renting a bike really worth it?</h5>
                        <p class="card-text">When you are looking for a new bike, you can find many ways to ...</p>
                        <a href="#" class="btn btn-primary">Read more</a>
                      </div>
                    </div>

                    <div class="art3">
                     <div class="articleimg3"></div>

                     <div class="card-body">

                      <h5 class="card-title" style="text-align: left; font-weight: bold;">Rentabike services citizens of Brussels</h5>
                      <p class="card-text">Rentabike's service is helping citizens across Brussels ...</p>
                      <a href="#" class="btn btn-primary">Read more</a>
                    </div>
                  </div>
                </div>

              </div>


            </div>
          </div>

          <br>  <br>  <br>



          <div class="pages">
            <a href="#">Confidentiality</a> | <a href="Our Guidelines">Our guidelines</a> | <a href="#">Help Center</a>


          </div>
          <br/>


          <div class="footer">
            <div class="footer-copyright">
              <div style="color:white">This website is made with <i class="fas fa-heart"></i> by Lucas, Sebastien and Alex </div>
            </div>


            <div class="footer-links">
              <div class="social-links">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>


