<div class="home-banner">
  <div class="inner-container">
    <h1><span>Mobility made easy.</span></h1>
    <div class="text-container">
      <p><span>Find quality bikes for rent in your city!</span></p>
    </div>
    <%= link_to "Discover Rentabike", root_path(anchor: "how-it-works"), class: "btn-home" %>
  </div>
</div>

<div class="container" id="how-it-works">
  <h2>How Rentabike works 🚲</h2>
  <div class="cards-home">
    <div class="card" style="width: 18rem;">
      <h4 class="card-title">Search <i class="fas fa-search"></i></h4>
      <p class="card-text">Our map and filters help you easily find the bike that best fits your needs and taste.</p>
    </div>

    <div class="card" style="width: 18rem;">
      <h4 class="card-title">Book <i class="fas fa-shopping-basket"></i></h4>
      <p class="card-text">Get in touch with one of our verified users and book their bike for a determined duration and price.</p>
    </div>

    <div class="card" style="width: 18rem;">
      <h4 class="card-title">Ride <i class="fas fa-bicycle"></i></h4>
      <p class="card-text">You're good to go! Ride freely until your booking comes to an end.</p>
    </div>
  </div>
</div>
  
  <div class="banner-try-now">
    <div>
      <h2>Get 20% off your first booking!</h2>
      <p>View all the bikes available near you.</p>
    </div>
    <div>
      <%= link_to "Discover our available bikes", bikes_path, class: "btn-white" %>
    </div>
  </div>


<div class="container">
  <div class="blog-section">
    <h3>Read our latest blog articles 🚲 <small><i class="fas fa-chevron-down"></i></small></h3>
      <div class="d-flex justify-content-around">

        <div class="card" style="width: 18rem;">
          <img src="https://picsum.photos/400/300" class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="text-align: left; font-weight: bold;">How Lucas used Rentabike to save money</h5>
            <p class="card-text">Eco-friendly solutions to rent bikes is getting more and more ...</p>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="https://picsum.photos/400/300" class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="text-align: left; font-weight: bold;">Is renting a bike really worth it?</h5>
            <p class="card-text">When you are looking for a new bike, you can find many ways to ...</p>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="https://picsum.photos/400/300" class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="text-align: left; font-weight: bold;">Rentabike services citizens of Brussels</h5>
            <p class="card-text">Rentabike's service is helping citizens across Brussels ...</p>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="footer">
  <div class="footer-copyright">
    <div>This website is made with <i class="fas fa-heart"></i> by Lucas, Sebastien and Alex </div>
  </div>

  <div class="footer-links">
    <div class="social-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
