.home-banner {
  background-image: url('RentABikeLogo.jpg');
  background-size: cover;
  height: 30vh;
  opacity: 1;
  width: 100vh;
  color: #eee;
  justify-content:space-between;
  padding-top: 40vh;
}
