.home-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: asset-url('bannerbluebis.png');
  height: 100vh;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

.inner-container {
  padding: px 40px 80px 40px;
  text-align: center;

}

.text-container {
  border-radius: 2px;
}

// span {
  // background-color: black;
  // background-color:rgba(41, 133, 244, 0.7);
  // padding: 0 2px 0 2px;
// }

.inner-container h1 {
  color: white;
  font-size: 54px;
  font-weight: bold;
  // background-color: black;
  // padding: 4px;
  text-shadow: 0px 10px 30px rgba(0,0,0,0.3);
}

.inner-container p {
  color: white;
  font-size: 24px;
  // background-color: black;
  // padding: 4px;
  text-shadow: 0px 10px 30px rgba(0,0,0,0.3);
}

.banner-try-now {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: black;
  background-size: cover;
  color: white;
  height: 40vh;
}
