.btn-home {
  display: inline-block;
  width: 200px;
  padding: 10px;
  margin-top: 8px;
  color: white;
  border-radius: 16px;
  text-align: center;
  outline: none;
  text-decoration: none;
  background-color: black;
  font-weight: bold;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
}

.btn-home:hover {
  text-decoration: none;
  color: black;
  background-color: white;
  transition: 0.3s;
  // transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.btn-white {
  display: inline-block;
  width: 250px;
  padding: 10px;
  margin-top: 8px;
  color: black;
  border-radius: 16px;
  text-align: center;
  outline: none;
  text-decoration: none;
  background-color: white;
  font-weight: bold;
}

.btn-white:hover {
  text-decoration: none;
  color: white;
  background-color: black;
  transition: 0.3s;
  // transition: background-color 0.3s ease-in, color 0.3s ease-in;
}