.card {
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}


#how-it-works .card {
  padding: 40px;
  border-radius: 8px;
  height: 50vh;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

#how-it-works .card:hover {
  background: black;
  color: white;
  transition: 0.5s;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-content: space-evenly;
}


